asgiref==3.2.3
astroid==2.2.5
autopep8==1.4.4
Babel==2.8.0
beautifulsoup4==4.6.0
bs4==0.0.1
builtwith==1.3.3
certifi==2018.4.16
chardet==3.0.4
colorama==0.4.1
Django==3.1.12
django-crispy-forms==1.8.1
django-paypal==1.0.0
django-phone-field==1.8.0
django-phonenumber-field==4.0.0
django-twilio==0.13.0.post1
idna==2.6
isort==4.3.20
lazy-object-proxy==1.4.1
lxml==4.4.1
mccabe==0.6.1
phonenumbers==8.11.5
Pillow==6.2.1
pycodestyle==2.5.0
pygame==1.9.6
PyJWT==1.7.1
pylint==2.3.1
pytz==2019.3
requests==2.18.4
six==1.12.0
sqlparse==0.3.0
twilio==6.36.0
typed-ast==1.3.5
urllib3==1.22
virtualenv==16.7.8
wrapt==1.11.1
