{% extends "couponApp/base.html" %}

{% block content %}


  <div class="preloader">
    <div class="status"></div>
  </div>
  <!-- end page loader -->
  <div class="site_wrapper">

    <!-- header -->
    <header>
      <!-- Top header bar -->
      <div id="topHeader">
        <div class="wrapper">
          <div class="top_nav top_nav2 top_nav3">
            <div class="container">
              <!-- Logo -->
              <div class="logo two left"><a href="index.html" id="logo"></a></div>

              <ul class="right-nav one">
                <li><a href="http://www.allcpd.com"><i class="fa fa-user"></i> Login</a></li>
                <li><a href="http://www.allcpd.com"><i class="fa fa-user"></i> Register</a></li>
                <li class="phoneno"><i class="fa fa-phone"></i> +1(778)-371-0708 </li>
                <li class="last"><a href="mailto:info@allcpd.com"><i class="fa fa-envelope-o"></i> E-mail Us</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- end top navigation -->

      <div class="scrollto_sticky five">
        <div class="container">
          <!-- Menu -->
          <div class="menu_main menu_main3">
            <div class="navbar yamm navbar-default">
              <div class="navbar-header">
                <div class="navbar-toggle .navbar-collapse .pull-right " data-toggle="collapse"
                  data-target="#navbar-collapse-1"> <span>Menu</span>
                  <button type="button"> <i class="fa fa-bars"></i></button>
                </div>
              </div>
              <div id="navbar-collapse-1" class="navbar-collapse collapse pull-right">
                <nav>
                  <ul class="nav navbar-nav three five">
                    <li class="dropdown yamm-fw"> <a href="index.html">Home</a>
                    </li>
                    <li class="dropdown"> <a href="" class="dropdown-toggle"> About Us</a>
                      <ul role="menu" class="dropdown-menu">
                        <li><a href="about1.html">GC Education Service</a></li>
                        <li><a href="about2.html">GC Supporting Services</a></li>
                        <li><a href="about3.html">GC Saving Services</a></li>
                      </ul>
                    </li>
                    <li class="dropdown"> <a href="https://www.visacpd.com/members"> Members</a>
                    </li>
                    <li class="dropdown"> <a class="active" href="Coupons.html"> Coupons</a>
                    </li>
                    <li class="dropdown"> <a href="hiring.html"> Hiring / Franchise</a>
                    </li>
                    <li class="dropdown"> <a href="contact.html" class="dropdown-toggle">Contact Us</a>
                    </li>
                  </ul>
                </nav>

                <ul class="social_icons two three left">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li class="last shopping-cart"><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- end menu -->
        </div>
      </div>
    </header>
    <div class="clearfix"></div>


    <section class="header-section">
      <div class="page_header">
        <div class="container">
          <h2 class="align_center pagetitle">Our Courses</h2>
          <div class="pagenation"><a href="index.html">Home</a> <i>/</i> Our Courses
          </div>
        </div>
      </div>
    </section>
    <!-- end page header -->
    <div class="clearfix"></div>

    {% comment %} <section class="section2">
      <div class="container">
        <div class="title4">
          <h2><span class="line"></span>
            Store 1
            <em>Lorem Ipsum is simply dummy text of theprinting and typesetting it has the randomised words Lorem ipsum
              dolor sit amet consectetuer adipiscing elit Suspendisse et justo Praesent mattis commodo augue Aliquam
              ornare.</em></h2>
        </div>

        <div class="clearfix margin_top4"></div>

        <div class="features" data-anim-type="fade-in-left" data-anim-delay="200">
          <div class="fe-col">
            <div class="fe-col-wrp type1">
              <h1>Coupon Name 1</h1>
              <h2>8% off</h2>
              <p>Lorem Ipsum is simply dummy text of theprinting and typesetting it has the randomised words Lorem ipsum
                dolor sit amet consectetuer.</p>
              <div class="clearfix margin_top2"></div>
              <div class="readmore"><a href="#" class="btn linebtn two">Add to Cart</a></div>
            </div>
          </div>
        </div>
        <!--end col 1 -->

        <div class="features" data-anim-type="fade-in-up" data-anim-delay="300">
          <div class="fe-col">
            <div class="fe-col-wrp type1">
              <h1>Coupon Name</h1>
              <h2>9%</h2>
              <p>Lorem Ipsum is simply dummy text of theprinting and typesetting it has the randomised words Lorem ipsum
                dolor sit amet consectetuer.</p>
              <div class="clearfix margin_top2"></div>
              <div class="readmore"><a href="#" class="btn linebtn two">Add to Cart</a></div>
            </div>
          </div>
        </div>
        <!--end col 2 -->

        <div class="features last" data-anim-type="fade-in-right" data-anim-delay="200">
          <div class="fe-col">
            <div class="fe-col-wrp type1">
              <h1>Coupon Name</h1>
              <h2>15% off</h2>
              <p>Lorem Ipsum is simply dummy text of theprinting and typesetting it has the randomised words Lorem ipsum
                dolor sit amet consectetuer.</p>
              <div class="clearfix margin_top2"></div>
              <div class="readmore"><a href="#" class="btn linebtn two">Add to Cart</a></div>
            </div>
          </div>
        </div>
        <!--end col 3 -->

      </div>
      <div class="container">

        <div class="clearfix margin_top4"></div>

        <div class="features" data-anim-type="fade-in-left" data-anim-delay="200">
          <div class="fe-col">
            <div class="fe-col-wrp type1">
              <h1>Coupon Name 1</h1>
              <h2>8% off</h2>
              <p>Lorem Ipsum is simply dummy text of theprinting and typesetting it has the randomised words Lorem ipsum
                dolor sit amet consectetuer.</p>
              <div class="clearfix margin_top2"></div>
              <div class="readmore"><a href="#" class="btn linebtn two">Add to Cart</a></div>
            </div>
          </div>
        </div>
        <!--end col 1 -->

        <div class="features" data-anim-type="fade-in-up" data-anim-delay="300">
          <div class="fe-col">
            <div class="fe-col-wrp type1">
              <h1>Coupon Name</h1>
              <h2>9%</h2>
              <p>Lorem Ipsum is simply dummy text of theprinting and typesetting it has the randomised words Lorem ipsum
                dolor sit amet consectetuer.</p>
              <div class="clearfix margin_top2"></div>
              <div class="readmore"><a href="#" class="btn linebtn two">Add to Cart</a></div>
            </div>
          </div>
        </div>
        <!--end col 2 -->

        <div class="features last" data-anim-type="fade-in-right" data-anim-delay="200">
          <div class="fe-col">
            <div class="fe-col-wrp type1">
              <h1>Coupon Name</h1>
              <h2>15% off</h2>
              <p>Lorem Ipsum is simply dummy text of theprinting and typesetting it has the randomised words Lorem ipsum
                dolor sit amet consectetuer.</p>
              <div class="clearfix margin_top2"></div>
              <div class="readmore"><a href="#" class="btn linebtn two">Add to Cart</a></div>
            </div>
          </div>
        </div>
        <!--end col 3 -->

      </div>
      <div class="clearfix margin_top10"></div>
    </section> {% endcomment %}

    {% for coupon in coupons %}
     <section class="section2">
      <div class="container">
        <div class="title4">
          <h2><span class="line"></span>
            {{coupon}}
            <em>Lorem Ipsum is simply dummy text of theprinting and typesetting it has the randomised words Lorem ipsum
              dolor sit amet consectetuer adipiscing elit Suspendisse et justo Praesent mattis commodo augue Aliquam
              ornare.</em></h2>
        </div>

        <div class="clearfix margin_top4"></div>

        <div class="features" data-anim-type="fade-in-left" data-anim-delay="200">
          <div class="fe-col">
            <div class="fe-col-wrp type1">
              <h1>Coupon Name 1</h1>
              <h2>8% off</h2>
              <p>Lorem Ipsum is simply dummy text of theprinting and typesetting it has the randomised words Lorem ipsum
                dolor sit amet consectetuer.</p>
              <div class="clearfix margin_top2"></div>
              <div class="readmore"><a href="#" class="btn linebtn two">Add to Cart</a></div>
            </div>
          </div>
        </div>
        <!--end col 1 -->

        <div class="features" data-anim-type="fade-in-up" data-anim-delay="300">
          <div class="fe-col">
            <div class="fe-col-wrp type1">
              <h1>Coupon Name</h1>
              <h2>9%</h2>
              <p>Lorem Ipsum is simply dummy text of theprinting and typesetting it has the randomised words Lorem ipsum
                dolor sit amet consectetuer.</p>
              <div class="clearfix margin_top2"></div>
              <div class="readmore"><a href="#" class="btn linebtn two">Add to Cart</a></div>
            </div>
          </div>
        </div>
        <!--end col 2 -->

        <div class="features last" data-anim-type="fade-in-right" data-anim-delay="200">
          <div class="fe-col">
            <div class="fe-col-wrp type1">
              <h1>Coupon Name</h1>
              <h2>15% off</h2>
              <p>Lorem Ipsum is simply dummy text of theprinting and typesetting it has the randomised words Lorem ipsum
                dolor sit amet consectetuer.</p>
              <div class="clearfix margin_top2"></div>
              <div class="readmore"><a href="#" class="btn linebtn two">Add to Cart</a></div>
            </div>
          </div>
        </div>
        <!--end col 3 -->

      </div>
      <div class="clearfix margin_top10"></div>
    </section>
    {% endfor %}



    <section class="section11 one">
      <div class="container">
        <div class="text">
          <h4 class="white-text">You are the <span>
              <script type="text/javascript" src="http://services.webestools.com/cpt_pages_views/69466-1-5.js"></script>
            </span> viewers of this site.
          </h4>
        </div>
        <div class="readmore animate-in" data-anim-type="fade-in-right" data-anim-delay="200"><a
            href="mailto:?subject=I found this good website!&body=https://www.visacpd.com/"
            class="btn linebtn one">Share by email</a> </div>
      </div>
    </section>
    <!-- end section 10 -->
    <div class="clearfix"></div>

    <footer>

      <div class="copyrights">
        <div class="container">
          <div class="one_half"><span>Copyright &amp; 2016-2019 Proudly by CPD Institute. All rights reserved.</span>
          </div>
          <div class="one_half last">
            <div class="payments"><span>Payments We Accept</span>
              <img src="images/card-01.png" alt="">
              <img src="images/card-02.png" alt="">
              <img src="images/card-04.png" alt="">
              <img src="images/card-05.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <!--end copyrights-->
    </footer>
  </div>
  <!--end sitewraper-->
{% endblock content %}