{% extends "couponApp/base.html" %}

{% load static %}

{% block content %}

<script type="text/javascript" src="{% static 'js/cart.js' %}" defer></script>



<section class="header-section">
  <div class="page_header">
    <div class="container">
      <h2 class="align_center pagetitle">Our Courses</h2>
      <div class="pagenation"><a href="index.html">Home</a> <i>/</i> Our Courses
      </div>
    </div>
  </div>
</section>
<!-- end page header -->
<div class="clearfix"></div>

{% for brand in brands %}
<section class="section2">
  <div class="container">
    <div class="title4">
      <h2><span class="line"></span>
        {{brand}}
        <em>{{brand.description}}</em></h2>
    </div>

    <div class="clearfix margin_top4"></div>

    {% for coupon in brand.coupons.all %}
    <div class="features" data-anim-type="fade-in-left" data-anim-delay="200">
      <div class="fe-col">
        <div class="fe-col-wrp type1">
          <h1>{{brand}}</h1>
          <h2>{{coupon.discountPercentage}}% off</h2>
          <p>{{coupon.description}}</p>
          <div class="clearfix margin_top2"></div>
          <div class="readmore"><a class="btn linebtn two add-to-cart-btn" data-code={{coupon.code}}
              data-brand={{brand}} data-coupon="{{coupon}}" data-discount={{coupon.discountPercentage}}>Add
              to Cart</a></div>
        </div>
      </div>
    </div>
    {% endfor %}
    <!--end col 1 -->

  </div>
  <div class="clearfix margin_top10"></div>
</section>
{% endfor %}


{% endblock content %}