{% extends "couponApp/base.html" %}

{% load static %}

{% block content %}

<script type="text/javascript" src="{% static 'js/cart.js' %}" defer></script>




<!-- header -->
<header>
  <!-- Top header bar -->
  <div id="topHeader">
    <div class="wrapper">
      <div class="top_nav top_nav2 top_nav3">
        <div class="container">
          <!-- Logo -->
          <div class="logo two left"><a href="index.html" id="logo"></a></div>

          <ul class="right-nav one">
            <li><a href="http://www.allcpd.com"><i class="fa fa-user"></i> Login</a></li>
            <li><a href="http://www.allcpd.com"><i class="fa fa-user"></i> Register</a></li>
            <li class="phoneno"><i class="fa fa-phone"></i> +1(778)-371-0708 </li>
            <li class="last"><a href="mailto:info@allcpd.com"><i class="fa fa-envelope-o"></i> E-mail Us</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- end top navigation -->

  <div class="scrollto_sticky five">
    <div class="container">
      <!-- Menu -->
      <div class="menu_main menu_main3">
        <div class="navbar yamm navbar-default">
          <div class="navbar-header">
            <div class="navbar-toggle .navbar-collapse .pull-right " data-toggle="collapse"
              data-target="#navbar-collapse-1"> <span>Menu</span>
              <button type="button"> <i class="fa fa-bars"></i></button>
            </div>
          </div>
          <div id="navbar-collapse-1" class="navbar-collapse collapse pull-right">
            <nav>
              <ul class="nav navbar-nav three five">
                <li class="dropdown yamm-fw"> <a href="index.html">Home</a>
                </li>
                <li class="dropdown"> <a href="" class="dropdown-toggle"> About Us</a>
                  <ul role="menu" class="dropdown-menu">
                    <li><a href="about1.html">GC Education Service</a></li>
                    <li><a href="about2.html">GC Supporting Services</a></li>
                    <li><a href="about3.html">GC Saving Services</a></li>
                  </ul>
                </li>
                <li class="dropdown"> <a href="https://www.visacpd.com/members"> Members</a>
                </li>
                <li class="dropdown"> <a class="active" href="Coupons.html"> Coupons</a>
                </li>
                <li class="dropdown"> <a href="hiring.html"> Hiring / Franchise</a>
                </li>
                <li class="dropdown"> <a href="contact.html" class="dropdown-toggle">Contact Us</a>
                </li>
              </ul>
            </nav>

            <ul class="social_icons two three left">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li class="last shopping-cart"><a href="{% url 'couponApp:checkout' %}"><i
                    class="fa fa-shopping-cart"></i><span id="cart-num">0</span></a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- end menu -->
    </div>
  </div>
</header>
<div class="clearfix"></div>


<section class="header-section">
  <div class="page_header">
    <div class="container">
      <h2 class="align_center pagetitle">Our Courses</h2>
      <div class="pagenation"><a href="index.html">Home</a> <i>/</i> Our Courses
      </div>
    </div>
  </div>
</section>
<!-- end page header -->
<div class="clearfix"></div>

{% for brand in brands %}
<section class="section2">
  <div class="container">
    <div class="title4">
      <h2><span class="line"></span>
        {{brand}}
        <em>{{brand.description}}</em></h2>
    </div>

    <div class="clearfix margin_top4"></div>

    {% for coupon in brand.coupons.all %}
    <div class="features" data-anim-type="fade-in-left" data-anim-delay="200">
      <div class="fe-col">
        <div class="fe-col-wrp type1">
          <h1>{{brand}}</h1>
          <h2>{{coupon.discountPercentage}}% off</h2>
          <p>{{coupon.description}}</p>
          <div class="clearfix margin_top2"></div>
          <div class="readmore"><a class="btn linebtn two add-to-cart-btn" data-code={{coupon.code}}
              data-brand={{brand}}>Add
              to Cart</a></div>
        </div>
      </div>
    </div>
    {% endfor %}
    <!--end col 1 -->

  </div>
  <div class="clearfix margin_top10"></div>
</section>
{% endfor %}


{% endblock content %}