{% extends "couponApp/base.html" %}
{% load static %}
{% block content %}
<div class="tp-banner-container">
   <div class="tp-banner3">
      <ul>
         <!-- SLIDE 1  -->
         <li data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-delay="13000"
            data-saveperformance="off" data-title="Slide 1">

            <!-- MAIN IMAGE -->
            <img src="{% static 'images/banner_6.jpg' %}" alt="" data-bgposition="left center" data-kenburns="on"
               data-duration="14000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="130"
               data-bgpositionend="right center">
            <!-- LAYERS -->
            <!-- <div class="tp-caption text1 whitefont sfl" data-x="left" data-hoffset="0" data-voffset="-10" data-y="165"
           data-speed="800" data-start="1500" data-easing="Power4.easeOut" data-endspeed="300"
           data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6">We care for your</div> -->
            <div class="tp-caption text2 sfr" data-x="left" data-hoffset="0" data-voffset="-10" data-y="220"
               data-speed="800" data-start="1800" data-easing="Power4.easeOut" data-endspeed="300"
               data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6">GC Education
               Services</div>
            <div class="tp-caption smalltext_two sft" data-x="left" data-hoffset="0" data-voffset="-10" data-y="280"
               data-speed="800" data-start="2200" data-easing="Power4.easeOut" data-endspeed="300"
               data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6">through GC Education
               Services(Vancity Institute of Sciences and Arts )
               We provide licensed GC /Builder, Architect, <br />Designer with CPD/CEU /LU course packages for you to
               satisfy
               your annual condition of licensing, <br />all courses are pre approved by BC Housing or AIBC or
               IDCEC</div>

            <div class="tp-caption btns sfb" data-x="left" data-hoffset="0" data-voffset="-10" data-y="430"
               data-speed="800" data-start="2400" data-easing="Power4.easeOut" data-endspeed="300"
               data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6"><a href="#"
                  class="btn whitebox">Learn more</a> </div>
         </li>

         <!-- SLIDE 2  -->
         <li data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-delay="13000"
            data-saveperformance="off" data-title="Slide 1">

            <!-- MAIN IMAGE -->
            <img src="{% static 'images/banner_5.jpg' %}" alt="" data-bgposition="left center" data-kenburns="on"
               data-duration="14000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="130"
               data-bgpositionend="right center">
            <!-- LAYERS -->
            <!-- <div class="tp-caption text1 whitefont sfl" data-x="left" data-hoffset="0" data-voffset="-10" data-y="165"
           data-speed="800" data-start="1500" data-easing="Power4.easeOut" data-endspeed="300"
           data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6">We care for your</div> -->
            <div class="tp-caption text2 sfr" data-x="left" data-hoffset="0" data-voffset="-10" data-y="220"
               data-speed="800" data-start="1800" data-easing="Power4.easeOut" data-endspeed="300"
               data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6">GC Supporting services</div>
            <div class="tp-caption smalltext_two sft" data-x="left" data-hoffset="0" data-voffset="-10" data-y="280"
               data-speed="800" data-start="2200" data-easing="Power4.easeOut" data-endspeed="300"
               data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6">through GC Supporting
               services,
               We have a team of experts and professionals as your helpers serving you in supervising construction work,
               <br />booking city inspection, avoiding and resolving construction claims, making budget, making
               schedules, cost estimating, <br />making change of order, engaging sub trades, shopping around for
               building materials and tools, <br />arranging construction mortgage and insurance, arranging job-site
               cleaning, site safety</div>

            <div class="tp-caption btns sfb" data-x="left" data-hoffset="0" data-voffset="-10" data-y="430"
               data-speed="800" data-start="2400" data-easing="Power4.easeOut" data-endspeed="300"
               data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6"><a href="#"
                  class="btn whitebox">Learn more</a> </div>
         </li>

         <!-- SLIDE 3  -->
         <li data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-delay="13000"
            data-saveperformance="off" data-title="Slide 1">

            <img src="{% static 'images/banner_1.jpg' %}" alt="" data-bgposition="left center" data-kenburns="on"
               data-duration="14000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="130"
               data-bgpositionend="right center">
            <!-- <div class="tp-caption text1 whitefont sfl" data-x="left" data-hoffset="0" data-voffset="-10" data-y="165"
         data-speed="800" data-start="1500" data-easing="Power4.easeOut" data-endspeed="300"
         data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6">We care for your</div> -->
            <div class="tp-caption text2 sfr" data-x="left" data-hoffset="0" data-voffset="-10" data-y="220"
               data-speed="800" data-start="1800" data-easing="Power4.easeOut" data-endspeed="300"
               data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6">GC Saving Service</div>
            <div class="tp-caption smalltext_two sft" data-x="left" data-hoffset="0" data-voffset="-10" data-y="280"
               data-speed="800" data-start="2200" data-easing="Power4.easeOut" data-endspeed="300"
               data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6">through GC Saving services ,
               we
               offer our members a guaranteed additional 50% saving <br />on top of the best rate they can get on many
               construction related materials supplies, insurance, sub trades, tools and others!</div>

            <div class="tp-caption btns sfb" data-x="left" data-hoffset="0" data-voffset="-10" data-y="430"
               data-speed="800" data-start="2400" data-easing="Power4.easeOut" data-endspeed="300"
               data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6"><a href="#"
                  class="btn whitebox">Learn more</a> </div>
         </li>
      </ul>
      <div class="tp-bannertimer"></div>
   </div>
</div>
<!-- end slider -->
<div class="clearfix"></div>

<section class="section1 one two">
   <div class="container domain_search_home">


      <div class="one_third">
         <h3><span id="num_subscribers"></span> members subscribed with us</h3>
         <h4>So you will never miss our news</h4>
      </div>
      <script>
         function animateValue(id, start, end, duration) {
            var range = end - start;
            var current = start;
            var increment = end > start ? 1 : -1;
            var stepTime = Math.abs(Math.floor(duration / range));
            var obj = document.getElementById(id);
            var timer = setInterval(function () {
               current += increment;
               obj.innerHTML = current;
               if (current == end) {
                  clearInterval(timer);
               }
            }, stepTime);
         }

         animateValue("num_subscribers", 88, 1106, 5000);</script>

      <div class="two_third last">
         <form method="get" id="domain-searchform" action="@todo: add here">
            <input class="input-text" name="email" id="dsearch" value="Enter your Email here..." type="text" />

            <input id="searchsubmit" value="Subscribe" type="submit" />
         </form>
      </div>

   </div>
</section>
<!-- end section 1 -->
<div class="clearfix"></div>

<section class="section18">
   <div class="container">
      <div class="title4">
         <h2><span class="line"></span>
            3 Categories<br>
            <em>We offer the following categories</em></h2>
      </div>

      <div class="clearfix margin_top7"></div>

      <div class="home-category one_third animate-in" data-anim-type="fade-in-left" data-anim-delay="200">
         <div class="ser-col">
            <div class="home-category-img">
               <img src="{% static 'images/certificate.jpg' %}" alt="certificate" />
            </div>
            <h2 class="padd_top3">GC Education Services</h2>
            <div class="call_to_action home-category-bg-bchousing">
               <span class="title_big two">2020 project
                  management series-20-cpd</span>
            </div>
            <div class="call_to_action home-category-bg-bchousing">
               <span class="title_big two"> 2020 single house project series-20-cpd</span>
            </div>
            <div class="call_to_action home-category-bg-bchousing">
               <span class="title_big two"> 2020 safety & marketing series-20-cpd </span>
            </div>
            <div class="call_to_action home-category-bg-bchousing">
               <span class="title_big two"> 2020 building code series-20-cpd</span>
            </div>
            <div class="call_to_action  home-category-bg-bchousing">
               <span class="title_big two"> 2020 builders fundamentals series-20-cpd </span>
            </div>
            <div class="call_to_action home-category-bg-bchousing">
               <span class="title_big two"> 2020 mixed series-20-cpd pre-approved</span>
            </div>
            <div class="call_to_action home-category-bg-aibc">
               <span class="title_big two"> Architect Option: 2020 18 LU series</span>
            </div>
            <div class="call_to_action  home-category-bg-idcec">
               <span class="title_big two"> Interior Designer Option: 2020 30-cpd series </span>
            </div>


         </div>
      </div>
      <!--end col 1 -->

      <div class="home-category one_third active animate-in" data-anim-type="fade-in-down" data-anim-delay="300">
         <div class="ser-col">
            <div class="home-category-img">
               <img src="{% static 'images/certificate.jpg' %}" alt="certificate" />
            </div>
            <h2 class="padd_top3">GC Supporting services</h2>
            <div class="call_to_action">
               <span class="title_big two"> Basic Builder support package</span>
            </div>
            <div class="call_to_action"><span class="title_big two"> Silver Builder support package</span></div>
            <div class="call_to_action"><span class="title_big two"> Gold Builder support package</span></div>
            <div class="call_to_action"><span class="title_big two"> Diamond Builder support package</span></div>
            <div class="call_to_action"><span class="title_big two"> Pre development consulting package</span></div>
            <div class="call_to_action"><span class="title_big two"> Cost control consulting package</span></div>
            <div class="call_to_action"><span class="title_big two"> Marketing package</span></div>
            <div class="call_to_action"><span class="title_big two"> City inspection, financing, legal issue </span>
            </div>


            <!-- <div class="readmore"><a class="btn linebtn two" href="#">Service 1</a> <a class="btn linebtn two"
             href="#">Service 2</a></div> -->
         </div>
      </div>
      <!--end col 2 -->

      <div class="home-category one_third animate-in last" data-anim-type="fade-in-right" data-anim-delay="100">
         <div class="ser-col">
            <div class="home-category-img">
               <img src="{% static 'images/coupon.jpg' %}" alt="coupon" />
            </div>
            <h2 class=" padd_top3">GC Saving Service </h2>
            <div class="call_to_action">
               <span class="title_big two"> Save on food</span>
            </div>
            <div class="call_to_action">
               <span class="title_big two"> Save on gas</span>
            </div>
            <div class="call_to_action">
               <span class="title_big two"> Save on building materials </span>
            </div>
            <div class="call_to_action">
               <span class="title_big two"> Save on tools</span>
            </div>
            <div class="call_to_action">
               <span class="title_big two"> Save on insurance</span>
            </div>
            <div class="call_to_action">
               <span class="title_big two"> Save on bank</span>
            </div>
            <div class="call_to_action">
               <span class="title_big two"> Save on sub trades</span>
            </div>
            <div class="call_to_action">
               <span class="title_big two"> Save on consultants</span>
            </div>

         </div>
      </div>
      <!--end col 3 -->

   </div>
</section>
<!--end section 2 -->
<div class="clearfix"></div>



<section class="section19" style="margin-top: 80px;">
   <div class="container">
      <div class="info-col">
         <h3>Use GC Education services</h3>
         <h2>save time and save money!</h2>
         <h3>Use GC Supporting services</h3>
         <h2>worry free and grow fast!</h2>
         <h3>Use GC Saving services</h3>
         <h2>sell more and save more! </h2>

      </div>
      <!--end col -->

   </div>
</section>
<!--end section 4 -->
<div class="clearfix"></div>

<section class="section27 three" style="margin-top:0;">
   <div class="container">
      <div class="title4">
         <h2><span class="line"></span>
            OUR EXPERTS TEAM
            <em>Our service philosophy is two-fold: first, we strive to provide a world class level service.. Second, we
               are able to deliver comprehensive management services, and any customized mix of these services in a way
               that meets our clients’ specific needs. Expertise and flexibility — it really is that simple.</em></h2>
      </div>

      <div class="container">
         <div class="row">
            <div class="span12">


               <div id="owl-demo" class="owl-carousel">

                  <div class="item">
                     <div class="one_half">
                        <div class="test-col-one">
                           <div class="client-img"><img alt="" src="{% static 'images/avatar-6.jpg' %}" width="150">
                           </div>
                           <div class="review">
                              <p>Thomas has over 40 years in the industry and is a former Senior PM at Bechtel, San
                                 Francisco
                                 and later transferred back to Canada working for Bechtel, Canada. After completion of
                                 Architecture at the University of San Tomas, he later awarded a German Government
                                 Scholarship
                                 (DAAD) to the Technical University in Berlin where he pursued further Architecture and
                                 Engineering studies. Thomas won numerous awards in Germany in Architecture. Among the
                                 prominent projects Thomas worked on including Master planning of the a resort in
                                 Cozumel,
                                 Mexico, Rancho Banderas Resort Hotel in Porto Vallarta, Jalisco, Mexico plus many high
                                 to mid
                                 rise building in the Vancouver Lower Mainland areas. Thomas is fluent in English,
                                 Spanish,
                                 German, Italian.</p>
                              <h5>Thomas L. Eleizegui<span>- Sr Manager</span></h5>
                           </div>
                        </div>
                     </div>
                     <!-- end col 1 -->

                     <div class="one_half last">
                        <div class="test-col-one">
                           <div class="client-img"><img alt="" src="{% static 'images/avatar-5.jpg' %}" width="150">
                           </div>
                           <div class="review">
                              <p>Ricco has over 30 years experience working as project manager and quantity surveyor in
                                 the
                                 construction industry. He works closely with owners, investors, consultants and trades
                                 to
                                 ensure that all projects run smoothly and on budget. Among the projects Ricco’s worked
                                 on were
                                 16 storey hi-rise in North Bluff, White Rock; 19 storey tower at UBC named Corus and 20
                                 storey
                                 tower at UBC named Cora; 36 storey in Ungless Road, Port Moody; two towers in Richmond
                                 at
                                 Garden City Road and Cook Road (both 16 storey Buildings) plus various types of
                                 projects large
                                 and small throughout the Lower Mainland, British Columbia.
                              </p>
                              <h5>Ricco Wong CEC B. Eng (Hon.) University of Middlesex, London, UK <span>- Senior
                                    Partner</span></h5>
                           </div>
                        </div>
                     </div>
                     <!-- end col 1 -->
                  </div>
                  <!-- end item 1 -->

                  <div class="item">
                     <div class="one_half">
                        <div class="test-col-one">
                           <div class="client-img"><img alt="" src="{% static 'images/avatar-3.jpg' %}" width="150">
                           </div>
                           <div class="review">
                              <p>Brian was trained as a quantity surveyor in South Africa with Pentad Quantity Surveyors
                                 Ltd..
                                 Brian’s been instrumental in our company’s business development and involved in all
                                 facets of
                                 cost estimating, scheduling, staff supervision and all related quantity surveying work.
                                 His
                                 particular expertise is M&E building services and has assisted most of the major
                                 specialist
                                 firms within Canada and USA.</p>
                              <h5>Brian Hutchison<span>– MRICS ASAQS SACQS Senior Cost Manager</span></h5>
                           </div>
                        </div>
                     </div>
                     <!-- end col 1 -->

                     <div class="one_half last">
                        <div class="test-col-one">
                           <div class="client-img"><img alt="" src="{% static 'images/avatar-4.jpg' %}" width="150">
                           </div>
                           <div class="review">
                              <p>Sunny has over 25 years working with contractors and cost consultants, from government
                                 departments to the private sector. With experience in many facet of construction
                                 including
                                 civil, building and maintenance contracts. Sunny also has extensive exposure to the
                                 construction of railway related project over 6 years with Maunsell Consultants Asia
                                 Ltd. (Hong
                                 Kong) and Mass Transit Railway Corp, Hong Kong. Graduated from Hong Kong Polytechnic in
                                 Building Studies.</p>
                              <h5>Sunny Sin – MCIOB <span>– Senior Cost Manager</span></h5>
                           </div>
                        </div>
                     </div>
                     <!-- end col 1 -->
                  </div>
                  <!-- end item 2 -->
                  <div class="item">
                     <div class="one_half">
                        <div class="test-col-one">
                           <div class="client-img"><img alt="" src="{% static 'images/avatar-3.jpg' %}" width="150">
                           </div>
                           <div class="review">
                              <p>Thomas has over 30 years working experience in quantity surveying. A graduate from the
                                 Quantity Surveying program at the University of Northumbria at Newcastle, UK (91-93).
                                 He worked in Hong Kong since 1979 with Henderson Land Development Ltd. and Leighton
                                 Contractors Ltd. (Hong Kong). Thomas also has wealth of experience in management
                                 systems and
                                 procedures using computerize services.</p>
                              <h5>Thomas Nei<span>– Senior Partner</span></h5>
                           </div>
                        </div>
                     </div>
                     <!-- end col 1 -->


                  </div>
                  <!-- end item 3 -->

               </div>
            </div>
         </div>
      </div>

   </div>
</section>
<!-- end section 5 -->
<div class="clearfix"></div>


<section class="section26">
   <div class="container">
      <h2><span class="line"></span>
         We Solve Your Problems (FAQ)
      </h2>
      <div class="one_full">
         <div class="call_to_action">
            <div class="left"> <span class="title_big two"> CPD is a condition of licensing, I must complete 20 CPD per
                  year, but it costs me lots time and gas to
                  attend seminar training, it is hard to complete assignment and test. I have problem handling builder’s
                  portal in reporting my cpd</span>
               <p>A: we have six 20-cpd BC Housing pre-approved online packages for you to chose, no test, no
                  assignment,
                  easy and friendly, only $399/20-cpd
                  we can help you in reporting your cpd to bc Housing, just simply press the button “I need help”, you
                  will receive help right away.</p>
            </div>
            <div class="right readmore"><a class="linebtn two" href="faq_form.html">contact us</a></div>
         </div>
         <div class="call_to_action">
            <div class="left"> <span class="title_big two"> how much I can save when I purchase building materials,
                  tools, insurance premium, sub trades, ....
                  through GC Saving services? </span>
               <p>
                  A: additional 50% for member (press the button to become member at free of charge now) at your best
                  rate
                  guaranteed! </p>
               <p>
                  A: additional 33.33% for non-member (press the button to become member at free of charge now) at your
                  best rate guaranteed!
                  Get your cash card here </p>
            </div>
            <div class="right readmore "><a class="linebtn two" href="faq_form.html">contact </a></div>
         </div>
         <div class="call_to_action">
            <div class="left"> <span class="title_big two">I need help in [ ]supervising construction work, booking city
                  inspection, avoiding and resolving
                  construction claims, making budget, making schedules, cost estimating, making change of order,
                  engaging
                  sub trades, shopping around for building materials and tools, arranging construction mortgage and
                  insurance, arranging job-site cleaning, site safety.....</span>
               <p> A: Yes we can help! We have a team of experts and your helpers, just simply press the button “I need
                  help”, you will receive help right away.</p>
            </div>
            <div class="right readmore "><a class="linebtn two" href="faq_form.html">Read More</a></div>
         </div>

         <p class="readmore">Simply Contact us by pressing `contact us` button to
            receive answers or
            prompt help from us, we are happy
            to advise customers throughout GCS.
         </p>
      </div>
   </div>
</section>
<!--end section 26 -->
<div class="clearfix"></div>


{% endblock content %}